/*

@tailwind base;
@tailwind components;
@tailwind utilities;
*/

/* Optional global styles */

/*
html,
body {
  scroll-behavior: smooth;
} 
*/


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base page styling */
html,
body {
  @apply bg-gray-50 text-gray-800;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}
